.home-container{
    background-color: #F9F9FF;
    align-items: center;
    justify-content: space-around;
}
.home-container{
 font-size: 16px;
  
}
.home-tile{
    width: 500px;
    height: auto;
    
}
.home-tile h1{
    font-weight: bold;
}
.span{
    color: #97A5FE;
}
.img{
    width: 600px;
    height: 500px;
    border-radius: 50%;
    border: 10px solid #97A5FE;
   

}
/* Here is category styles */
.category p{
 font-size: 15px;
 
}
.category-home{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    margin: auto;
}
/* here is features styles */
.features-home{
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 70%;
    margin: auto;
    
}